*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    vertical-align: middle;
}

/* ============================
        common css done
=============================== */

:root{
    --roboto: 'Roboto', sans-serif;
    
    --brand: #ffca36;
    --dark: #353535;
    --pcol-white: #ddd;
    --pcol-dark: #555555;

    --white-over50: rgba(255, 255, 255, 0.5);
    --over60: rgba(0, 0, 0, 0.6);
    --over70: rgba(0, 0, 0, 0.7);
    --over80: rgba(0, 0, 0, 0.8);
    --brand-over80: rgba(255, 201, 54, 0.8);

}

.robo-thin{
    font-family:  'Roboto', sans-serif;;
    font-weight: 100;
}
.robo-light{
    font-family:  'Roboto', sans-serif;;
    font-weight: 300;
}
.robo-reg{
    font-family:  'Roboto', sans-serif;;
    font-weight: 400;
}
.robo-med{
    font-family:  'Roboto', sans-serif;;
    font-weight: 500;
}
.robo-bold{
    font-family:  'Roboto', sans-serif;;
    font-weight: 700;
}
.robo-black{
    font-family:  'Roboto', sans-serif;;
    font-weight: 900;
}

/* <!-- font family ends --> */

.brand-bg{
    background: var(--brand);
}
.brand-col{
    color: var(--brand);
}

.dark-col{
    color: var(--dark);
}
.dark-bg{
    background: var(--dark);
}
.pcol-white{
    color: var(--pcol-white);
}

.pcol-dark{
    color: var(--pcol-dark);
}

/* <!-- collor ends --> */
.fs12{
    font-size: 12px;
}
.fs14{
    font-size: 14px;
}
.fs16{
    font-size: 16px;
}
.fs18{
    font-size: 18px;
}
.fs13{
    font-size: 13px;
}
.fs20{
    font-size: 20px;
}
.fs24{
    font-size: 24px;
}
.fs35{
    font-size: 35px;
}
.mr25{
    margin-right: 25px;
}
.pd0{
    padding-right: 0 !important;
}
.pdl78{
    padding-left: 78px;
}
.pd145{
   padding: 0 145px !important; 
}
.pl30{
    padding-left: 33px;
}
.pr30{
    padding-right: 33px;
}
.pl40-pr15{
    padding-left: 40px !important;
    padding-right: 15px !important;
}
.pt10{
    padding-top: 35px !important;
}
.pr60{
    padding-right: 60px !important;
}
/* ============================
        typhography css done
=============================== */
#menu{
    background: var(--brand);
}
#menu .menu-location a{
    line-height: 40px;
}
#menu .menu-wellcome{
    background: var(--dark);
    transform: skewX(-40deg);
    -webkit-transform: skewX(-40deg);
    -moz-transform: skewX(-40deg);
    -ms-transform: skewX(-40deg);
    -o-transform: skewX(-40deg);
}
#menu .menu-wellcome h5{
    line-height: 40px;
    transform: skewX(40deg);
    -webkit-transform: skewX(40deg);
    -moz-transform: skewX(40deg);
    -ms-transform: skewX(40deg);
    -o-transform: skewX(40deg);
}
#menu .menu-icon ul li{
    line-height: 40px;
}
#menu .menu-icon ul li a{
    color: var(--dark);
    position: relative;
    padding: 1px 1px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#menu .menu-icon ul li a i{
    font-size: 14px;
    width: 20px;
    height: 20px;
    text-align: center;
}
  #menu .menu-icon ul li a::before{
    content: "";
    width: 1px;
    height: 0px;
    background: var(--dark);
    position: absolute;
    top: -5px;
    left: 0;
    transition: all linear.4s;
    -webkit-transition: all linear.4s;
    -moz-transition: all linear.4s;
    -ms-transition: all linear.4s;
    -o-transition: all linear.4s;
}
#menu .menu-icon ul li a:hover::before{
    height: 32px;
}
#menu .menu-icon ul li a::after{
    content: "";
    width: 1px;
    height: 0px;
    background: var(--dark);
    position: absolute;
    top: -5px;
    right: 0;
    transition: all linear.4s;
    -webkit-transition: all linear.4s;
    -moz-transition: all linear.4s;
    -ms-transition: all linear.4s;
    -o-transition: all linear.4s;
}

#menu .menu-icon ul li a:hover:after{
    height: 32px;
}

#menu .menu-icon ul li a .help::before{
    content: "";
    width: 0px;
    height: 1px;
    background: var(--dark);
    position: absolute;
    top: 0px;
    left: -5px;
    z-index: 22;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

#menu .menu-icon ul li a:hover .help::before{
    width: 32px;
}

#menu .menu-icon ul li a .help::after{
    content: "";
    width: 0px;
    height: 1px;
    background: var(--dark);
    position: absolute;
    bottom:  0px;
    left: -5px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
#menu .menu-icon ul li a:hover .help::after{
    width: 32px;
}


/* ============================
        menubar css ends
=============================== */
.navbar{
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.nav-item .nav-hov{
    margin-right: 2px;
    padding: 10px !important;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
    position: relative;
    color: var(--dark) !important;
}
.nav-item .nav-hov:hover{
    color: var(--brand) !important;
}

.nav-item .nav-hov::before{
    content: "";
    width:calc(100% + 10px) ;
    height: 100%;
    position: absolute;
    border-top: 1px solid rgb(208, 255, 0);
    border-bottom: 1px solid rgb(187, 255, 0);
    transition: all ease-in-out .4s;
    -webkit-transition: all ease-in-out .4s;
    -moz-transition: all ease-in-out .4s;
    -ms-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
    top: 0px;
    left: -5px;
    transform: scale(0,1);
    
}

.nav-item .nav-hov::after{
    content: "";
    width:100% ;
    height: calc(100% + 10px);
    position: absolute;
    border-left: 1px solid rgb(208, 255, 0);
    border-right: 1px solid rgb(187, 255, 0);
    transition: all ease-in-out .4s;
    
    top: -5px;
    left: 0px;
    transform: scale(1,0);
   
}
.nav-item .nav-hov:hover::before{
    transform: scale(1,1);
    
}
.nav-item .nav-hov:hover::after{
    transform: scale(1,1);
   
}

.nab-icon{
    margin-left: 18px;
}
.navi-icon{
    transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    -ms-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
    margin-left: 20px;
}
.navi-icon:hover{
    color: #ffca36;
}
/* ============================
        navbar css ends
=============================== */
.bg1{
    background: url(../images/banner1.jpg) no-repeat center / cover;
}
.bg2{
    background: url(../images/banner2.jpg) no-repeat center / cover;
}
.bg3{
    background: url(../images/banner03.jpg) no-repeat center / cover;
}
#banner{
    margin-bottom: 100px;
    position: relative;
}
#banner .leftarrow {
	font-size: 50px;
	color: rgb(255, 255, 255);
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
	transition: all linear .4s;
	padding: 20px;
	border-left: 2px solid white;
	border-right: 2px solid white;
}
#banner .leftarrow:hover{
    color: var(--brand);
    border-color: #ffca36;
}
#banner .leftarrow::after {
	content: "";
	width: calc(100% + 30px);
	height: 80%;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	position: absolute;
	top: 10px;
	left: -14px;
    transition: all linear .4s;
}
#banner .leftarrow:hover::after{
    border-color: #ffca36;
}

#banner .rightarrow{
    font-size: 50px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    transition: all linear .4s;
    padding: 20px;
    border-left: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
}
#banner .rightarrow:hover{
    color: var(--brand);
    border-color: var(--brand);
}
#banner .rightarrow::after {
    content: "";
    width: calc(100% + 30px);
    height: 80%;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    position: absolute;
    top: 10px;
    left: -14px;
    transition:all linear .4s;
    transition: all linear .4s;
}
#banner .rightarrow:hover::after{
    border-color: #ffca36;
}
#banner .banner-item{
    padding-top: 200px;
    padding-bottom: 200px;
    position: relative;
    z-index: 111;
    position: relative;
}
#banner .banner-item::after{
    content: "";
    width: 100%;
    height: 100%;
    background: var(--over70);
    position: absolute;
    inset: 0;
    z-index: -1;
}
#banner .banner-item .banner-text p{
    line-height: 25px;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-right: 78px;
}
#banner .banner-item .banner-text a{
    border: 1px solid #fff;
    padding-left: 16px !important;
    padding-right: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    position: relative;
}

#banner .banner-item .banner-text a:hover{
    background:var(--brand) ;
    color: var(--dark);
    border-color: #ffca36;
}


#banner .slick-dots{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

#banner .slick-dots li{
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
}

#banner .slick-dots li.slick-active{
    background: var(--brand);
    border-color: var(--brand);
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

#banner .slick-dots li button{
    background: none;
    outline: none;
    font-size: 0;
    border: none;
}

/* ============================
        banner css ends
=============================== */
#service{
    margin-bottom: 100px;
}
.service-head p{
    margin-top: 16px;
    padding: 0 71px;
}

.service-heading{
    margin-bottom: 70px;
}
#service .service-contant .service-item{
    position: relative;
    box-shadow: 2px 5px 3px 2px rgba(0, 0, 0, 0.3);
    transition:all linear .3s ;
    -webkit-transition:all linear .3s ;
    -moz-transition:all linear .3s ;
    -ms-transition:all linear .3s ;
    -o-transition:all linear .3s ;
}
#service .service-contant .service-item:hover{
    box-shadow: none;
}
#service .service-contant .service-item .service-image{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    margin: 0 auto;
    position: relative;
}
#service .service-contant .service-item .service-image::before{
    content: "";
    width: 100%;
    height: 100%;
    border-top: 2px solid var(--brand);
    border-bottom: 2px solid var(--brand);
    position: absolute;
    top: 0;
    left: 0;
    transition: all linear .6s;
    transform: scale(0,1);
    
}
#service .service-contant .service-item:hover .service-image:before{
    transform: scale(1,1);
}

#service .service-contant .service-item .service-image::after{
    content: "";
    width: 100%;
    height: 100%;
    border-left: 2px solid var(--brand);
    border-right: 2px solid var(--brand);
    position: absolute;
    top: 0;
    left: 0;
    transition: all linear .6s;
    transform: scale(1,0);
    
}
#service .service-contant .service-item:hover .service-image::after{
    transform: scale(1,1);
}
#service .service-contant .service-item .service-image img{
    transform: rotate(-45deg);
}
#service .service-contant .service-item .service-text{
    position: relative;
    margin-top: 52px !important;
    padding: 61px 0;
}
#service .service-contant .service-item .service-text::before{
    content: "";
    width: 100%;
    height: 100%;
    border-top: 2px solid var(--brand);
    border-bottom: 2px solid var(--brand);
    position: absolute;
    top: 0;
    left: 0;
    transition: all linear .7s;
    transform: scale(0,1);
    
}
#service .service-contant .service-item:hover .service-text::before{
    transform: scale(1,1);
}
#service .service-contant .service-item .service-text::after{
    content: "";
    width: 100%;
    height: 100%;
    border-left: 2px solid var(--brand);
    border-right: 2px solid var(--brand);
    position: absolute;
    top: 0;
    left: 0;
    transition: all linear .7s;
    transform: scale(1,0);
}
#service .service-contant .service-item:hover .service-text::after{
    transform: scale(1,1);
}

.ln25{
    line-height: 25px;
    padding: 0 40px;
    margin-top: 8px;
}
#service .service-contant .service-item .border-dashed{
    width: 1px;
    height: 0px;
    margin: 0 auto;
    border-left: 2px dashed #353535;
    position: absolute;
    left:50%;
    top: 32%;
    transition: all linear .6s;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
#service .service-contant .service-item:hover .border-dashed{
    height: 30px;
    border-color: var(--brand);
}
/* ============================
        service css ends
=============================== */
#about{
    position: relative;
    margin-bottom: 100px;
    z-index: 111;
}
#about::after{
    content: "";
    width: 50%;
    height: 100%;
    background: url(../images/about-bg.png) no-repeat center / cover;
    position: absolute;
    top: 0;
    left:-16%;
    z-index: -2;
}
#about::before{
    content: "";
    width: 50%;
    height: 100%;
    background:var(--over70);
    position: absolute;
    top: 0;
    left:-16%;
    z-index:-1;
}
#about .about-person img{
    margin-right: 40px;
}
#about .nav-tabs{
    padding-top: 40px;
    border-bottom: 5px solid #ddd;
    padding-bottom: 15px;
}

#about .nav-tabs .nav-item{
    width: 25%;
}

#about .nav-tabs .nav-link{
    border-radius: 0;
    border-color: transparent;
    padding: 0 !important;
}
#about .nav-tabs .nav-link.active{
    position: relative;
    z-index: 1;
}
 .nav-tabs .nav-link.active::after{
    content: "";
    width: calc(100% + 40px);
    height: 100%;
    border-bottom: 5px solid var(--brand);
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 11;
}
#about .nav-tabs .nav-link:hover{
    color: var(--dark);
}
#about .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	
	background-color: #fff;
	border-color: transparent;
}
#about .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	border-color:transparent;
}

#about .abt-holder h5{
    line-height: 25px !important;
    padding-top: 25px;
    padding-bottom: 35px;
}
#about .abt-holder p{
    line-height: 25px !important;
}
#about .abt-holder .abt-btn{
    margin-top: 10px;
    display: inline-block;
    padding:15px 25px 15px 25px;
    border: 2px solid #ddd;
    position: relative;
    transition: all linear .4s;

}
#about .abt-holder .abt-btn:hover{
    color: white;
    border-color: var(--brand);
}
#about .abt-holder .first{
    border-color: orangered;
}
#about .abt-holder .second{
    border-color: blue;
}
#about .abt-holder .third{
    border-color: green;
}
#about .abt-holder .four{
    border-color:yellow;
}
#about .abt-holder .abt-btn::after{
    content: "";
    width: 100%;
    height: 100%;
    background: var(--brand);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    clip-path: polygon(51% 52%, 50% 53%, 51% 52%, 51% 53%, 51% 53%, 51% 53%, 51% 52%);
    transition: all linear .4s;
   
}
#about .abt-holder .abt-btn:hover:after{
    clip-path: polygon(0 100%, 0 56%, 0 0, 63% 0, 100% 0, 100% 52%, 100% 100%);
}
/* ============================
        about css ends
=============================== */
#portfolio{
    margin-bottom: 100px;
}
#portfolio .image-box .port-image{
    position: relative;
    z-index: -1;
}
#portfolio .image-box .port-image .overlay{
    content: "";
    width: 100%;
    height: 90%;
    background:var(--brand-over80) ;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    clip-path: polygon(0 68%, 100% 45%, 100% 100%, 0% 100%);
    transition: all linear .4s;
    transform: scale(0,1);
    opacity: 0;
    vertical-align: bottom;
}
#portfolio .image-box:hover .port-image .overlay{
    transform: scale(1,1);
    opacity: 1;
}

#portfolio .port-image .overlay h5{
    padding-top: 233px;
}
/* ============================
        portfolio css ends
=============================== */
#counter{
    margin-bottom: 100px;
    background: url(../images/counter-bg.png) no-repeat center / cover;
    position: relative;
    z-index: 1;
    padding: 65px 0;
}
#counter::after{
    content: "";
    width: 100%;
    height: 100%;
    background: var(--over80);
    position: absolute;
    inset: 0;
    z-index: -1;
}
#counter .counter-item h6{
    padding-bottom: 5px;
}
/* ============================
        counter css ends
=============================== */

#blog{
    
    position: relative;
}
#blog .blog-item{
    padding-bottom: 70px;
}
#blog .blog-item .card{
    margin-top: 100px;
    border-color: transparent;
    transition: all linear .6s;
    margin-right: 10px;
    padding-bottom: 50px;
}

#blog .blog-item:hover .card{
    transform: translateY(-110px);
    -webkit-transform: translateY(-110px);
    -moz-transform: translateY(-110px);
    -ms-transform: translateY(-110px);
    -o-transform: translateY(-110px);
}

#blog .blog-item .card .team-image{
    position: relative;
    z-index: 1;
}

#blog .blog-item .card .team-image .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: all linear .4s;
    clip-path: polygon(0 49%, 0 49%, 0 49%, 0 49%);
    opacity: 0;
    transform: scale(1,0);
}
#blog .blog-item .card:hover .team-image .overlay{
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 99%);
    transform: scale(1,1);
}
 #blog .blog-item .card .overlay i{
    width: 40px;
    height: 40px;
    background: white;
    color: #000 !important;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    transition: all linear .4s;
}
#blog .blog-item .card .overlay i:hover{
    background: var(--brand);
}
#blog .blog-item .card .card-body{
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 99%);
    /* transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px); */
    z-index: 999;
    opacity: 0;
    background: white;
    transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    -ms-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
    position: fixed;
    bottom: -160px;
    left: 0;
}
#blog .blog-item .card:hover .card-body{
    opacity: 1;
    border: 2px solid #ddd;
}

#blog .blog-item .card .card-body p{
    line-height: 25px;
    padding-top: 20px;
    padding-bottom: 0 !important;
}
#blog .blog-item .card .card-body h5{
    padding-top: 8px;
    padding-bottom: 5px;
    margin-top: 30px;
}


#blog .blog-item .card .card-body a{
    display: inline-block;
    padding:15px 25px 15px 25px;
    border: 2px solid #ddd;
    transition: all linear .4s;
}
#blog .blog-item .card .card-body a:hover{
    color: black;
    border-color: var(--brand);
    background: var(--brand);
}


#blog .service-content .blog-leftarrow{
	font-size: 40px;
	color: rgb(0, 0, 0);
	position: absolute;
	top: 60%;
	left: 30px;
	transform: translateY(-60%);
	transition: all linear .4s;
	padding: 10px;
	border-left: 2px solid #353535;
	border-right: 2px solid #353535;
	-webkit-transform: translateY(-60%);
	-moz-transform: translateY(-60%);
	-ms-transform: translateY(-60%);
	-o-transform: translateY(-60%);
}
#blog .service-content .blog-leftarrow:hover{
    color: var(--brand);
    border-color: #ffca36;
}
#blog .service-content .blog-leftarrow::after {
    content: "";
    width: calc(100% + 20px);
    height: 80%;
    border-top: 2px solid #353535;
    border-bottom: 2px solid #353535;
    position: absolute;
    top: 6px;
    left: -10px;
    transition: all linear .4s;
}
#blog .service-content .blog-leftarrow:hover::after{
    border-color: #ffca36;
}
#blog .service-content .blog-rightarrow{
	font-size: 40px;
	color: rgb(0, 0, 0);
	position: absolute;
	top: 60%;
	right: 30px;
	transform: translateY(-60%);
	transition: all linear .4s;
	padding: 10px;
	border-left: 2px solid #353535;
	border-right: 2px solid #353535;
	-webkit-transform: translateY(-60%);
	-moz-transform: translateY(-60%);
	-ms-transform: translateY(-60%);
	-o-transform: translateY(-60%);
}
#blog .service-content .blog-rightarrow:hover{
    color: var(--brand);
    border-color: #ffca36;
}
#blog .service-content .blog-rightarrow::after {
    content: "";
    width: calc(100% + 20px);
    height: 80%;
    border-top: 2px solid #353535;
    border-bottom: 2px solid #353535;
    position: absolute;
    top: 6px;
    left: -10px;
    transition: all linear .4s;
}
#blog .service-content .blog-rightarrow:hover::after{
    border-color: #ffca36;
}



/* ============================
        our blog css ends
=============================== */
#testimonial{
    margin-bottom: 100px;
    position: relative;
}
#testimonial .testimonial-item{
    background: url(../images/testimonial-bg.png) no-repeat center / cover;
    position: relative;
    z-index: 11;
    padding-top: 60px;
}
#testimonial .testimonial-item::after{
    content: "";
    width: 100%;
    height: 100%;
    background: var(--over80);
    position: absolute;
    inset: 0;
    z-index: -1;
}
#testimonial .testimonial-item .test-text h5{
    padding: 0 244px;
}
#testimonial .testimonial-item .test-text h3{
    padding-top: 22px;
}

#testimonial .testi-item{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 25px !important;
    margin-bottom: 60px !important;
}

#testimonial .testi-item img{
    opacity: .6;
}


#testimonial .slick-center img{
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    opacity: 1;
}
 #testimonial .testi-leftarrow{
	font-size: 40px;
	color: rgb(255, 255, 255);
	position: absolute;
	top: 70%;
	left: 30px;
	z-index: 9999;
	transform: translateY(-70%);
	transition: all linear .4s;
	padding: 10px;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
	-webkit-transform: translateY(-70%);
	-moz-transform: translateY(-70%);
	-ms-transform: translateY(-70%);
	-o-transform: translateY(-70%);
}
#testimonial .testi-leftarrow:hover{
    color: var(--brand);
    border-color: #ffca36;
}
#testimonial .testi-leftarrow::after {
    content: "";
    width: calc(100% + 20px);
    height: 80%;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    position: absolute;
    top: 6px;
    left: -10px;
    transition: all linear .4s;
}
#testimonial .testi-leftarrow:hover::after{
    border-color: #ffca36;
}
 #testimonial .testi-rightarrow{
	font-size: 40px;
	color: rgb(255, 255, 255);
	position: absolute;
	top: 70%;
	right: 30px;
	z-index: 9999;
	transform: translateY(-70%);
	transition: all linear .4s;
	padding: 10px;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
	-webkit-transform: translateY(-70%);
	-moz-transform: translateY(-70%);
	-ms-transform: translateY(-70%);
	-o-transform: translateY(-70%);
}
#testimonial .testi-rightarrow:hover{
    color: var(--brand);
    border-color: #ffca36;
}
#testimonial .testi-rightarrow::after {
    content: "";
    width: calc(100% + 20px);
    height: 80%;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    position: absolute;
    top: 6px;
    left: -10px;
    transition: all linear .4s;
}
#testimonial .testi-rightarrow:hover::after{
    border-color: #ffca36;
}


/* ============================
        testimonial css ends
=============================== */
#brand{
    position: relative;
    margin-bottom: 100px;
}
#brand .brand-item{
    width: 20%;
}
#brand .brand-item img{
    width: 100%;
    transform: scale(.9);
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -ms-transition: all linear .5s;
    -o-transition: all linear .5s;
}

#brand .slick-center{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}
#brand .brand-leftarrow{
	font-size: 40px;
	color: rgb(0, 0, 0);
	position: absolute;
	top: 40%;
	left: 30px;
	transform: translateY(-50%);
	transition: all linear .4s;
	padding: 10px;
	border-left: 2px solid #353535;
	border-right: 2px solid #353535;
	
}
#brand .brand-leftarrow:hover{
    color: var(--brand);
    border-color: #ffca36;
}
#brand .brand-leftarrow::after {
    content: "";
    width: calc(100% + 20px);
    height: 80%;
    border-top: 2px solid #353535;
    border-bottom: 2px solid #353535;
    position: absolute;
    top: 6px;
    left: -10px;
    transition: all linear .4s;
}
#brand .brand-leftarrow:hover::after{
    border-color: #ffca36;
}
#brand .brand-rightarrow{
	font-size: 40px;
	color: rgb(0, 0, 0);
	position: absolute;
	top: 40%;
	right: 30px;
	transform: translateY(-50%);
	transition: all linear .4s;
	padding: 10px;
	border-left: 2px solid #353535;
	border-right: 2px solid #353535;
	
}
#brand .brand-rightarrow:hover{
    color: var(--brand);
    border-color: #ffca36;
}
#brand .brand-rightarrow::after {
    content: "";
    width: calc(100% + 20px);
    height: 80%;
    border-top: 2px solid #353535;
    border-bottom: 2px solid #353535;
    position: absolute;
    top: 6px;
    left: -10px;
    transition: all linear .4s;
}
#brand .brand-rightarrow:hover::after{
    border-color: #ffca36;
}
/* ============================
        brand css ends
=============================== */
footer{
    background: #353535;
    padding-top: 70px;
    padding-bottom: 70px;
}


footer .footer-first p{
    line-height: 25px;
    margin-top: 30px;
    margin-bottom: 25px !important;
}
footer .footer-first ul li{
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    line-height: 35px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
    margin-right: 20px;
}
footer .footer-first ul li:hover{
    background: var(--brand);
}
footer .footer-first ul li:last-child{
    margin-right: 0;
}

footer .footer-second ul{
    position: relative;
}
footer .footer-second ul li{
    padding-left: 45px;
    padding-right: 35px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
footer .footer-second ul li i{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    width: 35px;
    height: 35px;
    background: var(--brand);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    line-height: 35px;
}
footer .footer-second ul{
    padding-top: 38px;
}
footer .footer-second ul li i.s-i{
    margin-top: 40px;
}
footer .footer-second ul li i.s-ii{
    margin-top: 115px;
}
footer .footer-second ul li i.s-iii{
    margin-top: 185px;
}
footer .footer-second ul li .num1{
    display: block;
}
footer .footer-second ul li.two{
    padding-top: 30px !important;
}
footer .footer-third ul{
    padding-top: 38px;
}
footer .footer-third ul li{
    padding-bottom: 6px;
}
footer .footer-third ul li:last-child{
    padding-bottom: 0;
}

footer .footer-third ul li a{
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
footer .footer-third ul li a:hover{
    padding-left: 10px;
    color: #ffbb00;
}
footer .footer-four .part1{
    padding-top: 38px;
}
footer .footer-four .part1 a{
    padding-left: 85px !important;
}

footer .footer-four .part1 img{
    position: absolute;
}
footer .footer-four .part1 .part-icon{
    padding-left: 86px !important;
    padding-top: 17px !important;
}
footer .footer-four .part1 .actv{
   padding-left:10px !important;
   padding-right:10px !important;
}

/* ============================
        footer css ends
=============================== */


.copy{
    background: #555;
    padding:20px 0 ;
}

/* ============================
        footer copy css ends
=============================== */

#back-top{
    width: 40px;
    height: 40px;
    background: #ffca36;
    cursor: pointer;
    border: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99999;
    font-size: 20px;
    color:black;
    border-radius:50%;
    font-weight:700;
    transition:all linear .6s;
    -webkit-transition:all linear .6s;
    -moz-transition:all linear .6s;
    -ms-transition:all linear .6s;
    -o-transition:all linear .6s;
    display: none;
}

#back-top:hover{
    color: white;
    background: red;
}
/* ============================
        button css ends
=============================== */
#loading{
	background-color: #ffff00;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
	margin-top: 0px;
	top: 0px;
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
	}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 150px;
	width: 150px;
	margin-top: -75px;
	margin-left: -75px;	
	-ms-transform: rotate(45deg); 
   	-webkit-transform: rotate(45deg);
    transform: rotate(45deg); 

}
.object{
	width: 20px;
	height: 20px;
	background-color: #FFF;
	position: absolute;
	left: 65px;
	top: 65px;
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
	}
.object:nth-child(2n+0) {
	margin-right: 0px;

}
#object_one {
	-webkit-animation: object_one 2s infinite;
	animation: object_one 2s infinite;
	-webkit-animation-delay: 0.2s; 
    animation-delay: 0.2s; 
    background: rgb(2,0,36);
    background: linear-gradient(to left, #9933ff 5%, #ffff00 100%);
	}
#object_two {
	-webkit-animation: object_two 2s infinite;
	animation: object_two 2s infinite;
	-webkit-animation-delay: 0.3s; 
    animation-delay: 0.3s; 
    background: linear-gradient(to left, #0066cc 5%, #66ffcc 100%);
	}
#object_three {
	-webkit-animation: object_three 2s infinite;
	animation: object_three 2s infinite;
	-webkit-animation-delay: 0.4s; 
    animation-delay: 0.4s; 
    background: linear-gradient(to left, #3333cc 5%, #ff66cc 100%);
	}
#object_four {
	-webkit-animation: object_four 2s infinite;
	animation: object_four 2s infinite;
	-webkit-animation-delay: 0.5s; 
    animation-delay: 0.5s;
    background: linear-gradient(to bottom, #ffffff 5%, #0000ff 100%);
}
#object_five {
	-webkit-animation: object_five 2s infinite;
	animation: object_five 2s infinite;
	-webkit-animation-delay: 0.6s; 
    animation-delay: 0.6s; 
    background: linear-gradient(to right, #0066ff -5%, #99ff66 71%);
}
#object_six {
	-webkit-animation: object_six 2s infinite;
	animation: object_six 2s infinite;
	-webkit-animation-delay: 0.7s; 
    animation-delay: 0.7s;
    background: linear-gradient(to right, #cc00ff -5%, #99ffcc 71%);
}
#object_seven {
	-webkit-animation: object_seven 2s infinite;
	animation: object_seven 2s infinite;
	-webkit-animation-delay: 0.8s; 
    animation-delay: 0.8s; 
    background: linear-gradient(to right, #00ffcc 30%, #9966ff 97%);
}
}
#object_eight {
	-webkit-animation: object_eight 2s infinite;
	animation: object_eight 2s infinite;
	 -webkit-animation-delay: 0.9s; 
    animation-delay: 0.9s; 
    background: linear-gradient(to right, #66ff33 27%, #cc99ff 68%);
}

#object_big{
	
	position: absolute;
	width: 50px;
	height: 50px;
	left: 50px;
	top: 50px;
	-webkit-animation: object_big 2s infinite;
	animation: object_big 2s infinite;
	-webkit-animation-delay: 0.5s; 
    animation-delay: 0.5s; 
    background: linear-gradient(to right, #ffff66 26%, #ff6666 100%);
}	




@-webkit-keyframes object_big {
 50% { -webkit-transform: scale(0.5); }

}

@keyframes object_big {
 50% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
} 

}




@-webkit-keyframes object_one {
 50% { -webkit-transform: translate(-65px,-65px)  ; }

}

@keyframes object_one {
 50% {
    transform: translate(-65px,-65px) ;
    -webkit-transform: translate(-65px,-65px) ;
    -moz-transform: translate(-65px,-65px) ;
    -ms-transform: translate(-65px,-65px) ;
    -o-transform: translate(-65px,-65px) ;
} 

}



@-webkit-keyframes object_two {
  50% { -webkit-transform: translate(0,-65px) ; }
}

@keyframes object_two {
 50% { 
    transform: translate(0,-65px) ; 
    -webkit-transform: translate(0,-65px) ; 
  } 

}



@-webkit-keyframes object_three {
 50% { -webkit-transform: translate(65px,-65px) ; }
}

@keyframes object_three {
 50% {
    transform: translate(65px,-65px) ;
    -webkit-transform: translate(65px,-65px) ;
    -moz-transform: translate(65px,-65px) ;
    -ms-transform: translate(65px,-65px) ;
    -o-transform: translate(65px,-65px) ;
} 
}



@-webkit-keyframes object_four {
  
  50% { -webkit-transform: translate(65px,0) ; }

}

@keyframes object_four {
  50% { 
    transform: translate(65px,0) ;
    -webkit-transform: translate(65px,0) ;
  } 

}




@-webkit-keyframes object_five {
  
  50% { -webkit-transform: translate(65px,65px) ; }

}

@keyframes object_five {
  50% {
    transform: translate(65px,65px) ;
    -webkit-transform: translate(65px,65px) ;
    -moz-transform: translate(65px,65px) ;
    -ms-transform: translate(65px,65px) ;
    -o-transform: translate(65px,65px) ;
} 

}



@-webkit-keyframes object_six {
  
  50% { -webkit-transform: translate(0,65px) ; }

}

@keyframes object_six {
  50% {
    transform:  translate(0,65px) ;
    -webkit-transform:  translate(0,65px) ;
    -moz-transform:  translate(0,65px) ;
    -ms-transform:  translate(0,65px) ;
    -o-transform:  translate(0,65px) ;
} 

}




@-webkit-keyframes object_seven {
  
  50% { -webkit-transform: translate(-65px,65px) ; }

}

@keyframes object_seven {
  50% {
    transform: translate(-65px,65px) ;
    -webkit-transform: translate(-65px,65px) ;
    -moz-transform: translate(-65px,65px) ;
    -ms-transform: translate(-65px,65px) ;
    -o-transform: translate(-65px,65px) ;
} 

}


@-webkit-keyframes object_eight {
  
  50% { -webkit-transform: translate(-65px,0) ; }

}

@keyframes object_eight {
  50% {
    transform: translate(-65px,0) ;
    -webkit-transform: translate(-65px,0) ;
    -moz-transform: translate(-65px,0) ;
    -ms-transform: translate(-65px,0) ;
    -o-transform: translate(-65px,0) ;
} 

}
/* ============================
        preloader css ends
=============================== */